.login{
    background: lightskyblue;
    /* padding: 23%; */
}
.fname{
    background-color: blue;
}
.submit-button{
    height: 20px;
}
/* .address{
    /* height: 15px;  */
    /* width: 20px;
    box-sizing: 20px; 
}*/
.we{
    height:155px
}